/***** IMPORT RESET *****/

@import url("reset.css");

/***** IMPORT 12 COLUMN RESPONSIVE GS *****/

@import url("responsive.gs.12col.css");

/***** General *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F6F1;
}

a {
    text-decoration: none;
}

.bodybg {
    background-color: #F7F6F1;
}

.pricingbg {
    background-color: #F7F6F1;
    background: url(../img/pricing-bg.png) no-repeat;
    background-size: cover;
}

.pricing-intro {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.photo {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 190px;
    padding: 1px 0 0 0;
}

.metric {
    background: #EEEEEE;
    color: #999;
    height: 42px;
    line-height: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.location {
    padding: 15px;
    font-size: 12px;
    line-height: 1em;
    height: 12px;
    color: #999999;
}

.company {
    padding: 15px 15px 0 15px;
    font-size: 16px;
    line-height: 1.5em;
    height: 100px;
}

.name {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #474249;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgba(71, 66, 73, 0.5);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.elevator-pitch {
    font-family: Georgia;
    font-size: 17px;
    color: rgba(29, 24, 31, 0.70);
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.card {
    height: 390px;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    width: 30%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}


/***** PRICING *****/

.plan {
    min-height: 600px;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    width: 30%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

.plan-name {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #474249;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.plan-desc {
    font-family: Georgia;
    font-size: 18px;
    color: rgba(29, 24, 31, 0.70);
    line-height: 24px;
    text-align: center;
}

.plan hr {
    opacity: 1;
    border: 3px solid #971EC8;
    width: 10%;
    margin: 20px auto;
}

.price strong {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 114px;
    color: #1D181F;
    letter-spacing: -4px;
    padding: 10px;
}

.price sup {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: rgba(71, 65, 73, 0.65);
    letter-spacing: -1.29px;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -1.4em;
}

sub {
    top: 0.4em;
}

.price {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.features li {
    text-align: center;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(29, 24, 31, 0.70);
    line-height: 24px;
    margin-bottom: 20px;
}

.features li strong {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(29, 24, 31, 1);
}


/* Common button styles */

.button {
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    text-align: center;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}


/* Moema */

.button--moema {
    padding: .5em 3em;
    background: transparent;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    border: 3px solid #ff5629;
    line-height: 2.5;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: proxima-nova, sans-serif;
}

.button-tab {
    height: 45px;
    margin-top: 8px;
    line-height: 2;
    background: #ff5629;
}

.button--alt {
    padding: .5em 3em;
    background: #ff5629;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    border: 3px solid #ff5629;
    line-height: 2.5;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: proxima-nova, sans-serif;
}

.button--moema.button--inverted {
    background: #ECEFF1;
    color: #37474f;
}

.button--moema::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}

.button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ECEFF1;
    background-color: #ff5629;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}

.button--moema.button--inverted:hover {
    color: #ECEFF1;
    background-color: #7986cb;
}

.button--moema:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.signup {
    text-align: center;
    margin-top: 40px;
}

.hero-button {
    padding: 14px 65px 14px 65px;
    background: transparent;
    outline: none;
    overflow: hidden !important;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    border: 3px solid #ff5629;
}

.hero-button:hover {
    background-color: #ff3600;
    -o-transition: .5s;
    -ms-transition: .5;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}


/***** Hero section *****/

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:proxima-nova;
  font-weight: 700;
}

.links a {
  color: #1D181F;
    font-size: 28px;
}

.links li {
  padding: 20px;
}

.hero h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #1D181F;
    letter-spacing: -2.27px;
    line-height: 92px;
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 strong {
    font-weight: 700;
}

.hero h2 {
    font-family: Georgia;
    font-weight: 300;
    letter-spacing: -2px;
    text-align: center;
    font-family: Georgia;
    font-size: 36px;
    color: rgba(29, 24, 31, 0.6);
    padding-left: 10%;
    padding-right: 10%;
}

.hero p {
    font-family: Georgia, serif;
    font-weight: light;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.99;
    margin-bottom: 30px;
    text-align: center;
}

.hero-full-img {
    position: relative;
    bottom: -50%;
    max-width: 100%;
    height: auto;
    z-index: -1;
    max-height: 671px;
}

.hero-intro {
    margin-bottom: 80px;
}

.hero {
    padding-bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/***** feature styling *****/

.feat-full-img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.feat-full {
    margin-top: 120px;
}

.first {
    margin-top: 20px;
}

.feat-full h2 {
    /* The Builder You're L: */
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #474249;
    letter-spacing: -0.86px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.feat-full p {
    font-family: Georgia;
    font-size: 18px;
    color: rgba(29, 24, 31, 0.60);
    line-height: 24px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.feat-full-img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.feat-full-img-no-shadow {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.feat-half {
    margin-top: 120px;
}

.top-bump {
    margin-top: 80px;
}

.feat-half h2 {
    /* The Builder You're L: */
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #474249;
    letter-spacing: -0.86px;
    padding-bottom: 20px;
}

.feat-half p {
    font-family: Georgia;
    font-size: 17px;
    color: rgba(29, 24, 31, 0.60);
    line-height: 24px;
}

.feat-half-img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.feat-half-img-no-shadow {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.right {
    float: right;
    margin-top: -20px;
}

.left {
    float: left;
    margin-top: -20px;
}


/***** request a consultation *****/

.rac-intro {
    text-align: center;
}

.rac {
    display: block;
    margin: 0 auto;
}

.rac h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-size: 84px;
    color: #1D181F;
    line-height: 72px;
    padding-bottom: 20px;
    text-align: center;
}

.rac hr {
    opacity: 1;
    border: 3px solid #FF5629;
    width: 10%;
    margin: 40px auto;
}

.intro-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 60px;
}

.rac ul li {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.rac p {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 24px;
    color: #3A424C;
    text-align: center;
}

.rac p span {
    float: left;
    color: #fff;
    font-size: 75px;
    line-height: 48px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    padding: 16px;
    background-color: rgb(255, 86, 41);
    margin-right: 14px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.09);
}

.rac h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 32px;
    color: rgb(29, 24, 31);
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 40px;
}

.rac strong {
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: rgb(29, 24, 31);
}


/* Nav */

header {
    top: 0;
    width: 100%;
    height: 60px;
    background: #1E032A;
    z-index: 10000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
}

nav {
    max-width: 960px;
    height: 60px;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    width: 100%;
    display: flex;
}

nav ul li {
    margin: 0;
    width: 100%;
    display: flex;
}

.pricing {
    border: 3px solid rgba(255, 255, 255, 0.3);
    height: 40px;
    margin-top: 10px;
    width: 140px;
    line-height: 2.5;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pricing:hover {
    background-color: #FF5629;
    border: 3px solid #FF5629;
    -o-transition: .2s;
    -ms-transition: .2;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    /* ...and now for the proper property */
    transition: .2s;
}

header a {
    text-decoration: none;
    line-height: 3;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.50);
    letter-spacing: 0px;
    margin: 0 auto;
}

header a:hover {
    color: #fff;
    -o-transition: .2s;
    -ms-transition: .2;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    /* ...and now for the proper property */
    transition: .2s;
}

.active {
    color: #fff;
    font-weight: 600;
}

.content {
    width: 100%;
    height: 100%;
}

.terms {
    font-family: proxima-nova, helvetica, arial, sans-serif;
}

.terms p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 21px;
}

.terms h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.terms ul {
    list-style-position: inside;
    list-style-type: disc;
}

.terms ul li {}

.terms ol {
    list-style-position: inside;
    list-style-type: lower-alpha;
    ;
}

.terms ol li {
    margin: 20px 0 20px 0;
}

.terms h3 {
    font-size: 21px;
    font-weight: 600;
    margin: 40px 0 20px 0;
    line-height: 21px;
}

.content>section {
    width: 100%;
    height: 100%;
}


/***** Content *****/

.content-wrap {
    position: relative;
}

.content-wrap section {
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.35);
    padding-bottom: 120px;
    padding-top: 120px;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {}


/* Fallback */

.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
}


/***** Video *****/


.video {
    position: fixed;
    z-index: -2;
    width: auto;
    height: auto;
    opacity: 0.35;
    background: url(../img/video-bg.jpg) no-repeat;
    background-size: cover;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}


/***** MEDIA QUERIES -- NOTHING PAST THIS POINT *****/

@media screen and (max-width: 768px) {
    .hero h1 {
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: -2.27px;
        line-height: 48px;
    }
    .hero h1 strong {
        font-weight: 700;
    }
    .hero p {
        font-family: Georgia, serif;
        font-weight: light;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 27px;
        text-align: center;
    }
    .container {
        padding: 30px;
    }
    .rac h1 {
        font-family: proxima-nova, sans-serif;
        font-weight: 800;
        font-size: 64px;
        color: #1D181F;
        line-height: 62px;
        padding-bottom: 20px;
        width: 100%;
    }
    .video {
        display: none;
    }
    .mobile-bg {
        background: url(../img/video-bg.jpg) no-repeat;
        background-size: cover;
        background-position: 53%;
    }
    .rac h2 {
        margin-top: 50px;
        padding-top: 50px;
    }
    .tabs nav a span {
        font-size: 15px;
    }
    .tabs nav {
        margin-bottom: 10px;
    }
    .feat-full h2 {
        width: 100%;
    }
    .feat-full p {
        width: 100%;
    }
    .row {}
    .tabs {
        margin-top: 0px;
    }
    .right {
        margin-top: 0;
    }
    .card {
        width: 100%;
        margin-left: 0;
    }
    .plan {
        width: 100%;
        margin-left: 0;
    }
    .hero-full-img {
        position: relative;
        bottom: 0;
        max-width: 100%;
    }
    .hero {
        height: auto;
    }
    .hero-intro {
        margin-bottom: 80px;
    }
    /* TABS */
    .feat-full {
        margin-top: 70px;
    }
    .feat-half {
        margin-top: 70px;
    }
    .feat-half h2, p {
        text-align: center;
    }
    .first {
        margin-top: 20px;
    }
    .feat-half-img {
        margin-top: 0;
    }
    .feat-full-img {
        margin-top: 35px;
    }
    header a {
        font-size: 16px;
        line-height: 4;
    }
    .button-tab {
        height: 35px;
        margin-top: 14px;
        line-height: 1;
        background: #ff5629;
        width: 58px;
        font-size: 10px;
        min-width: inherit;
        max-width: none;
        padding: 6px 20px 10px 10px;
        text-align: left;
        font-weight: 700;
    }
    .button--moema::before {
        top: 500px;
    }
    .links {
    display: inline;
      justify-content: center;
      font-family:proxima-nova;
      font-weight: 700;
    }

    .links a {
      color: #1D181F;
        font-size: 28px;
    }

    .links li {
    text-align: center;
      }
}
